h1 {
  font-family: "Bree Serif", serif;
}
.bannerImage { 
  width: auto;
  height: 80vmin;
  padding-bottom: 0;
  display: flex;
  align-self: flex-end;
}

.mainBanner {
  align-items: flex-end;
  height: 100vh;
  justify-content: flex-end;
}


.slideContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  height: 100vh;
  justify-content: space-evenly;
}


#navbar {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 25vw;
  background-color: #EBC47A;
  transition: width .3s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 1.0, 0.1);
}

#navbar:hover {
  width: 32vw;
}

.nav-link {
  font-size: 3vh;
}


body, html {
  background-color: #D3D3D2 !important;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Teko', sans-serif;
}

div.card {
  background-color: rgb(189, 102, 99);
  border-radius: 10px;
}

.card-title {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

a {
  color: #301D1B !important;
}

a:hover { 
  color: #C87C66 !important;
  font-weight: bold;
  text-decoration: none !important;
}

.certificationCard {
  display: inline-flex;
  width: 14vw;
  margin: .5vh;
  transition: width .5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.experienceCard {
  display: block;
 
  width: auto;
  margin: 1vw;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

img.media-object {
  height: 7vh;
  width: 7vh;
}

#expmedia {
  height: 15vh;
  width: auto;
}

img.card-img, img.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h4.media-heading {
  font-family: 'Bree Serif', serif;
}

div.media {
  align-items: center;
  height: 19vh;
  transition: background-color .3s, height .5s;
  padding: 5px;
  border-radius: 10px;
}

#expmediabody {
  align-items: center;
  height: 15vh;
  transition: background-color .3s, height .5s;
  padding: 5px;
  border-radius: 10px;
}

#expmediabody:hover {
  background-color: rgb(255, 255, 255);
  height: 20vh;
  box-shadow: 4px 4px 30px 0 #CEB44F, 6px 6px 40px 0 #CEB44F;
}


div.media:hover {
  background-color: #EBC47A;
  height: 22vh;
  box-shadow: 4px 4px 30px 0 #CEB44F, 6px 6px 40px 0 #CEB44F;
}

div.media-body {
  padding-left: 20px;
}

.certificationCard:hover {
  width: 16vw;
  box-shadow: 4px 4px 30px 0 #CEB44F, 6px 6px 40px 0 #CEB44F;
}

#passionCard {
  font-size: 2.3vh;
  text-align: left;
}


