body {
  
}

.bannerImage { 
  width: auto;
  height: 70vmin;
  padding-bottom: 0;
  display: flex;
  align-self: flex-end;
}

.mainBanner {
  align-items: flex-end;
  height: 100vh;
  justify-content: flex-end;
}

.slideContainer {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  height: 100vh;
}


#navbar {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 30vw;
  background-color: #617289;
  transition: width .3s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 1.0, 0.1);
}

#navbar:hover {
  width: 35vw;
}

.nav-link {
  font-size: 3vh;
}


body, html {
  background-color: #BCB48C !important;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Teko', sans-serif;
}

div.card {
  background-color: #8B9968;
}

.card-title {
  text-align: center;
}

a {
  color: #301D1B !important;
}

a:hover { 
  color: #CEB44F !important;
  font-weight: bold;
  text-decoration: none !important;
}

.certificationCard {
  display: inline-flex;
  width: 20vw;
  margin: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
  display: flex;
  width: auto;
  height: 30vmin;
}

.certificationCard:hover {
  box-shadow: 4px 4px 30px 0 #CEB44F, 6px 6px 40px 0 #CEB44F;
}
