#mainbackground {
  background-color: #F1E1B8;
  height: 100vh;
}

.div-container {
  background-color: transparent;
}


div.container-fluid {
  background-color: transparent;
}

body {
  background-color: #F1E1B8 !important;
}


h1 {
  color: #301D1B;
  font-family: 'Pacifico', cursive;
}

p {
  font-family: 'Teko', sans-serif;
}

div.card {
  background-color: #BCB48C;
}

a {
  color: #301D1B !important;
}

a:hover { 
  color: #B26432 !important;
}

.card-body {
  background-color: #D89B55;
  border-radius: 5px !important;
  position: relative;
  top: 3px;
}

.card-img-top {
  border: 20px;
  position: relative;
  bottom: 2px;
}

.card-title {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 25px;
}

.certificationCard {
  height: 33vh;
  padding: 10px;
}
